@model Web.Models.LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/client/css/build.css" rel="stylesheet" />
@section scriptFooter {
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#checkbox2").change(function () {
                if ($(this).attr('checked')) {
                    $(this).val(true);
                } else {
                    $(this).val(false);
                }
            });
        });
    </script>
}

@section banner {
    <!-- banner -->
    <div class="banner banner10">
        <div class="container">
            <h2>Đăng nhập hệ thống</h2>
        </div>
    </div>
    <!-- //banner -->
    <!-- breadcrumbs -->
    <div class="breadcrumb_dress">
        <div class="container">
            <ul>
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
                <li>Đăng nhập</li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->
}

<!-- mail -->
<div class="mail">
    <div class="container">
        <h3>Đăng nhập</h3>
        <div class="agile_mail_grids">
            <div class="col-md-7 login-left" style="margin-left: 21%;">
                @*<h4>Đăng nhập với tài khoản của ElectronicStore</h4>*@
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="text" name="Email" placeholder="Email" autofocus required maxlength="50" />
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    <input type="password" name="Password" placeholder="Mật khẩu" required maxlength="50" style = "margin:20px 0px 0px 0px;" />
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    <div class="checkbox checkbox-primary" style="padding:0px; margin-top:20px;">
                        <input id="checkbox2" class="styled" type="checkbox" name="RememberMe">
                        <label for="checkbox2">
                            Nhớ mật khẩu
                        </label>
                    </div>
                    <br />
                    <input type="submit" value="Đăng nhập" />
                }
                <br />
                Bạn chưa có tài khoản? <a href="@Url.Action("Register", "Account")">Đăng ký</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //mail -->